@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p><a asp-controller="Shovels" asp-action="Index">Shovels</a></p>
</div>
<h3> About the Plasman</h3>
<p>This company is all about the shovels. We make one of the best shovels available in the market. We are the best selling company in the North America for shovels and stuff related to that. In year 1895, Henry Plasman made his first shovel in his home's garage. He then got the motivation to make finest quality shovels at the reasonable price. He invested little bit in this business and partnershipped with a company in his hometown Montreal. Luckily due to his good quality shovels his sales were high at that time and then he changed his name of the company to Plasman Shovels. This company sells most durable blades across Canada and United States. This company makes shovels for soil, gravel, coal, snow, cement and many more. We also provide one year warranty for every shovel we sell.</p>

<h3>Our business</h3>
<p>
    As we are from long time in this business, we are providing the cheapest price as compared to other compaines available in the market. This is because of our branches are spread almost everywhere in the North America. Our main plant of production which is available in Montreal, is very huge and have lots of automative machines and less human work. This makes the production of shovels less as compared to other companies.
</p>
<h3>Refund Policy</h3>
<p>
    Our customers are fully satisfied from our services and the products we sell. Due to our good customer policy, our customers are very happy with our services. We also provide 30 day refund policy for our products. If you do not like the product, company will provide you full refund without any deduction.
</p>
